  /* 
  REVIEW: 
  - Giữa mỗi style em nên cách ra 1 dòng 
  - Em thử style cái calculator thêm màu sắc giống đề bài xem, hoặc màu nào khác tùy thích :)
  */

#res {
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
    display: block;
}

.btnClass {
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
}
